<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
    <p>{{{header}}}</p>
    <p>{{{salutation}}}</p>
    <p>{{{body}}}</p>
    <p>{{{signature}}}</p>
    <p>{{{footer}}}</p>
</body>

</html>